html{font-size:10px}

body{
  background: #181818;
  font-family:"Nanum Gothic",sans-serif;
  font-size:1.6rem;
}

audio, video {
  position : absolute;
  margin-top: 10px;
  margin : auto;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;

  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  width: 100%;
}

input {
border: 1px solid #d9d9d9;
border-radius: 1px;
font-size: 20px;
margin: .2em;
width: 70%;
}

.setup {
border-bottom-left-radius: 0;
border-top-left-radius: 0;
font-size: 102%;
height: 47px;
margin-left: -9px;
margin-top: 8px;
position: absolute;
}

p { padding: 1em; }

li {
border-bottom: 1px solid rgb(189, 189, 189);
border-left: 1px solid rgb(189, 189, 189);
padding: .5em;
}

.non-visual{ display: none; }

/* gird dispaly setting*/
 .wrapper { 
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 400px;
    grid-template-rows: 230px 1fr 1fr;
    grid-gap: 3px;
    grid-auto-rows: minmax(10px, auto);
  }
    .content{ /*peer video and navbar*/
      grid-column: 1 / 3;
      grid-row: 1 / 4 ;
    }

    #localvideo{ /*local_video*/
      grid-column: 3;
      grid-row: 1;
      align-self:stretch;
      justify-self: stretch;
    }
    #chat{ /*chatting area*/
      grid-column: 3;
      grid-row: 2 / 4 ;
      background: aliceblue;
      text-align: center;
      justify-items: center;
      font-size: 20pt;
    }

    .videos{ /*peer-video area setting*/
      margin-top: 10px;
      display: grid;
      min-height: 90%;
      grid-gap: 3px;
      grid-auto-flow: row;
      grid-template-columns: repeat(var(--col_num), var(--colWidth));
      grid-template-rows: repeat(var(--row_num), var(--rowHeight));
    }
    
      .video_content{
        position: relative;
        max-height: var(--rowHeight);
        max-width: var(--colWidth);
      }
      .notVisit {
        position: relative;
        max-height: var(--rowHeight);
        max-width: var(--colWidth);
        background: black;
        color: white;
        text-align: center;
        font-size: 20px;
      }

      .peer_video{
        position: absolute;
        overflow: hidden;
        max-height: var(--rowHeight);
        max-width: var(--colWidth);
      }

    #local_video{
      max-width: 400px;
      max-height: 300px;
    }

.name{
  font-size: calc(2*var(--font_num));
  text-align: center;
  font-family: inherit;
  margin-top:15%;
  overflow: hidden;
  z-index: 55;
  color : white;
  position: relative;
}

.flex_container{
  display:flex;
  justify-content: center;
  justify-items: center;
  margin-top : 10%;
}

.video_btn{ /*peer-video button setting*/
  border-radius: calc((var(--row_num))*10px);
  position: relative;
  display: inline-block;
  margin-left: 1%;
  z-index: 50;
  font-size: var(--font_num);
  font-family: inherit;
  cursor : pointer;
  background-color: white;
  border : 0;
  outline: 0;
  color : black;
  }
.video_btn:hover{
  background-color: rgb(148, 207, 255);
}

.request_btn{ /*peer-video button setting*/
  border-radius: calc((var(--row_num))*10px);
  position: relative;
  display: inline-block;
  margin-left: 1%;
  z-index: 50;
  font-size: var(--font_num);
  font-family: inherit;
  cursor : pointer;
  background-color: white;
  border : 0;
  outline: 0;
  color : black;
  }

/*---other button setting---*/
.basicBtns{
  background-color: #121212;
  border: none;
  width: 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 4px;
  cursor: pointer;
  color: white;
}

#conc {
  font-size: 18px;
}
.navbar {
width: 550px;
left:50%; 
margin-top: -40px;
margin-left : -275px;
overflow: hidden;
background-color: #121212;
z-index: 1100;
position: relative;
opacity: 0.9;
border-radius: 7px;
text-align: center;
}

.left_nav { 
width: fit-content;
margin-top : 10px;
margin-left : 10px;
overflow: hidden;
background-color: #121212;
z-index: 1100;
position: relative;
opacity: 0.9;
border-radius: 7px;
text-align: center;
}

#recording_area{
  position: relative;
  width: 100%;
  height: 100%;
}


/*여기부터 화이트보드*/
#canvas {
background-color: white;
box-shadow: 0px 0px 0px;
margin: 0px;
border: 1px solid grey;
}

#exitCanvas {
background-color: #d9d9d9;
z-index: 8000;
font-size: 30px;
width: 35px;
height: 35px;
border: 1px solid #181818;
border-radius: 3px;
}

.canvasUI {
position: absolute;
top: 10px;
z-index: 1000;
}

#jsRange {
margin-left: 10px;
}

.boardButton {
margin-top: 30px;
margin-bottom: 30px;
}

#whiteBoard {
display: none;
}
/*여기까지 화이트보드*/


#leaving_cancle {
  display: none;
  width: 600px;
  height: 400px;
  padding: 40px 20px;
  text-align: center;
  position: absolute;
}

#leaving_name {
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 10px;
}

#leaving_time {
  color: white;
  font-size: 60px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 10px;
}

#leaving_btn {
  color: white;
  background-color: dodgerblue;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  box-shadow: 0px;
  border: 0;
  outline: 0;
}




/* 여기부터 집중도 테스트 */
#testConcentration {
  display: none;
  width: 600px;
  height: 400px;
  padding: 40px 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 13px;
  text-align: center;
  position: absolute;
}

#testCon_title {
  font-weight: 700;
  font-size: 30px;
  padding: 0px;
}
#timer {
  font-weight: 600;
  font-size: 18px;
  color: blue;
  padding: 0px;
}
#randomNumber {
  font-weight: 800;
  font-size: 70px;
  color: red;
  padding: 0px;
  margin: 0px;
}
#input_randomNumber{
  width: 80px;
  height: 80px;
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  text-align: center;
}
#guideWord {
  font-weight: 600;
  font-size: 18px;
}
/*number타입 input태그 화살표(스피너) 없애기*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* 여기까지 집중도 테스트 */

.slider {
  width: 900px;
  text-align: center;
  overflow: hidden;
}

.Csearch[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.slides {
  display: flex;
  width: 800px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin: auto;
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  height : 400px;
  width: 290px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Add some shadows to create a card effect */
.card {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 200px;
}
.button2:hover {
  background-color: #555;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

}

#open_Concentration {
  display: none;
}

.card p {
  font-size: 13px;
  font-weight: 600;
  padding: 7px;
}

#class_input input {
  width: 75%;
}


#toast {
    position: fixed;
    bottom: 50px;
    left: 40%;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 10px;
    overflow: hidden;
    font-size: 15px;
    opacity: 0;
    font-family: inherit;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(91, 162, 255, 0.925);
    color: #fff;
    z-index: 10000;
}

#toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}

#leave {
  z-index: 9999;
  display: none;
  margin: 0px;
}

.text_input_area{
  margin : 5px;
  width: 97%;
  border-radius: 5px;
  background-color: white;
  height: 10%;
}

#chat_message{
  height: 90%;
  width: 75%;
  border :0;
  outline: 0;
  font-family: inherit;
  font-size : 1.5rem;
  word-wrap: break-word;
  word-break:break-word;
  overFlow-y : scroll;
}
#chat_ban_img{
  color:white;
  text-align: center;
  position: relative;
  font-size: calc(5*var(--font_num));
  z-index: 10000;
  margin-top: 17%;
}

.dialog_area{
  position: absolute;
  z-index: 10000;
}

#chat_notice{
  font-family: inherit;
  font-size:1.2rem;
  color:rgb(65, 65, 65)
}

#ban_timer_in_chat{
  font-family: inherit;
  font-size:1.2rem;
  color:rgb(65, 65, 65)
}

#send_btn{
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
  cursor : pointer;
  background-color : rgb(119, 205, 255);
  color : white;
  border :0;
  outline :0;
  width: 19%;
  margin : 5px;
  height : 85%;
}

.msg_container{
  width : 100%;
}

#sand_msg{
  max-width: 60%;
  padding : 10px;
  height: auto;
  margin: 10px;
  display : inline-block;
  /*margin-left: 40%;*/
  background : rgb(91, 162, 255);
  overflow: hidden;
  font-family: inherit;
  word-wrap: break-word;
  color : white;
  border-radius: 10px;
  font-size: 1.5rem;
}

#got_msg{
  max-width: 60%;
  padding : 10px;
  height: auto;
  display : inline-block;
  margin: 10px;
  /*margin-right: 40%;*/
  background : white;
  overflow: hidden;
  font-family: inherit;
  color : rgb(46, 46, 46);
  word-wrap: break-word;
  border-radius: 10px;
  font-size: 1.5rem;
}

#msg_time{
  font-size : 1.2rem;
  font-family: inherit;
  display : inline-block;
}

.viewer_btn{
  display: inline-block;
  min-width: 120px;
  border : 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: inherit;
  outline : 1px;
  outline-color: rgb(26, 36, 58);
  left:40%;
  top : -40px;
  background-color: whitesmoke;
  position: relative;
  cursor : pointer;
}

.request_sign{
  font-family: inherit;
  font-size : var(--font_num);
  font-weight: bold;
  color : white; 
  display:inline-block;
  overflow: hidden;
  z-index: 55;
  position: relative;
  text-align: center;
  margin-top : 3%;
}

.request_sign#question{
  color : rgb(255, 108, 108);
}

.request_sign#leave{
  color : rgb(255, 108, 108);
}

#host_slides {
  margin: 0 auto;
}

.pop-up{
  position:absolute;
  display : none;
  left : 50%;
  top: 50%;
  border-radius: 20px;
  margin-left: -250px;
  margin-top:-150px;
  width: 500px;
  height: 300px;
  background-color: white;
  color:black;
  font : 2.5rem;
  z-index:10000000;
  text-align: center;
}

.modal{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.432);
  z-index: 1000000;
  width: 100vw;
  height: 100vh;
  display:none;
}

.exit_btn{
  background-color: rgb(27, 27, 75);
  display: inline-block;
  position: relative;
  width: 80px;
  margin-top:20%;
  padding: 10px;
  margin-left: 10px;
  color : white;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.8rem;
  border : 0;
  outline: 0;
}

.chatOffBtn {
  background: aliceblue;
  color: rgb(85, 117, 165);
  border: none;
  width: 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px;
  cursor: pointer;
  padding: 0px;
}

.chatOnBtn {
  background: #181818;
  color: white;
  border: solid 1px grey;
  border-radius: 2px;
  width: 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0px;
  cursor: pointer;
  padding: 0px;
}

#hiddenChat {
  margin: auto;
  margin-top: 8px;
  position:relative;
  text-align: right;
  width: 95%;
}

#record_video{
  position:relative;
  width: 70vw;
  height: 70vh;
}

#redirect_replay_area{
  position : absolute;
  top : 80%;
  font-size: 2rem;
  padding : 10px;
  background-color:rgb(116, 188, 255);
  color:rgb(255, 255, 255);
  border: 0;
  outline: 0;
  font-weight: bold;
  border-radius: 10px;
}

.stamp_btn{
  position: relative;
  outline-width: 1px;
  outline-color: white;
  background-color: rgb(0, 39, 124);
  top:10px;
  color:white;
  display: inline-block;
  margin-left: 10px;
  font-size: 1.7rem;
  padding : 5px;
  border-radius: 5px;
}

input[type="file"]{
  width: 700px;
  height: 30px;
  font-size: 1.6rem;
}

#replay{
  font-size: 2rem;
  padding : 10px;
  background-color:rgb(116, 188, 255);
  color:rgb(255, 255, 255);
  border: 0;
  outline: 0;
  font-weight: bold;
  border-radius: 10px;
}