<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sign up Page</title>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <style type="text/css">
        body,html{
            margin: 0;
            padding:0;
            height:100%;
        }
        
        .font_01{
            font-family: 'Goldman', cursive;
            font-size:45px;
            font-weight:medium;
            color:white;
        }
        .font_02{
            font-family: 'Do Hyeon', sans-serif;
            font-size:45px;
            font-weight:medium;
            color:white;
        }
        
        .bgimg{
            border:0;
            padding:0;
            background-image: url('https://wi.wallpapertip.com/wsimgs/83-838362_web-developer.jpg');
            min-height:100%;
            background-position: center;
            background-size: cover;
        }

        #box1{
            background-color: #E2E2E2;
            padding-left:850px;
        }

        #box2{
            font-family: 'Nanum Gothic Coding';
            border-radius: 12px;
            background: #BFC2C3;
        }
        #box3{
            background-color: #ffffff;
            background-color: rgba(255,255,255,0.5);
            border-radius:10px;
        }

    </style>

</head>
<body>
    <div class="bgimg">
        <br><br><br><br><br><br>
        <center>
            <div class="font_01">
            WebRTC<br>
            Sign up<br>
            </div><br><br>
            <div class="form">
                <form name="form2" action="createUser" method="post">
                    <br>
                    <input type="text" name="name" placeholder="Name" style="width:150px; height: 30px; background-color: rgba(255,255,255,0.5); border-radius: 5px;"><br><br>
                    <input type="id" name="id" placeholder="Email" style="width:150px; height: 30px; background-color: rgba(255,255,255,0.5); border-radius: 5px;"><br><br>
                    <input type="text" name="passwd" placeholder="Password" style="width:150px; height: 30px; background-color: rgba(255,255,255,0.5); border-radius: 5px;"><br><br>
                    <!-- <input type="job" name="job" placeholder="job" style="width:150px; height: 30px; background-color: rgba(255,255,255,0.5); border-radius: 5px;"><br><br> -->
                    <select name ="job" style="width:150px; height: 30px; background-color: rgba(255,255,255,0.5); border-radius: 5px;">
                        <option value="student">학생</option>
                        <option value="professor">교수</option>
                    </select><br><br>
                    <a href="#" style="color:white" onclick="form2.submit()">회원가입</a>
                </form>
            </div>
        </center>     
    </div>
</body>
</html>