<html lang="en">
<head>
    <style type="text/css">
        .login-btn-wrap .login-btn{
            width:120px;
            height:35px;
            color:white;
            margin-top: 30px;
            border: 0;
            border-radius: 4px;
            font-weight: bold;
            background:#9ED0FE;
            background: linear-gradient(162deg, #9ED0FE 0%, #87c5ff 50%, #4faaff 100%);
        }
        .login-input-container .login-input-wrap{
            width:300px;
            height: 45px;
            margin-top: 20px;
            margin-bottom: 10px;
            border-radius: 2px;
            border-bottom: solid 2px #9ED0FE;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파놉티콘</title>
    <link rel="stylesheet" href="./style/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <article style="background-color:#eff0f2">
        <div class="slider visible" style="margin:0 auto">
            <div class="page-container slider" sytle="text-align: center;">
                <div class="login-form-container shadow">
                    <div class="title">
                        <h1><br>"Panopticon"</h1>
                        <h2><%=userInfo.job%> <%=userInfo.name%>님 환영합니다</h2>
                    </div>
                    <div id="host_slides" class="container">
                        <div>
                            <% if(userInfo.job == "professor"){%>
                            <div class="login-btn-wrap">
                                <span><button id="toHost" class="login-btn">강의실 생성하기</button></span>
                            </div>
                            <div class="login-btn-wrap">
                                <span><button id="toView" class="login-btn">다시보기</button></span>
                            </div>
                            <% }else{ %>
                            <div class="login-btn-wrap">
                                <a href="/view"><button class="login-btn">강의실 입장하기</button></a>
                            </div>
                            <% }%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>     

    <script>
        var toHost = document.getElementById("toHost");
        var toReview = document.getElementById("toReview");
        var toView = document.getElementById("toView");

        var userInfo= "<%=JSON.stringify(userInfo)%>";

        userInfo = userInfo.replace(/&#34;/gi, '\"');
        userInfo = JSON.parse(userInfo);
        
        var data = {"userInfo" : userInfo};
        
        if(toHost){
            toHost.onclick = () =>{
                console.log("click Host");

                var form = document.createElement('form');

                form.setAttribute('method', 'post');
                form.setAttribute('action', "/host");
                document.body.appendChild(form);

                form.submit();
            }
        }

        if(toView){
            toHost.onclick = () =>{
                console.log("click Host");

                var form = document.createElement('form');

                form.setAttribute('method', 'post');
                form.setAttribute('action', "/host");
                document.body.appendChild(form);

                form.submit();
            }
        }

        console.log(userInfo);

    </script>
</body>
</html>