<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Test</title>
    <style>
        .video_content{
            border : 3px solid black;
            width : 400px;
            height : 300px;
            display : inline-block;
        }
    </style>
</head>
<body>
    <button id="but">hi</button>
    <button id="button2">username</button>
    <button id="getbutton">bye!</button>
    <hr>
    <h1>VIDEO CHANGE!</h1>
    <br>
    <div id = "videoBox">
        <div id = "video1Div">
            <video id = "video1" src="./test1.mov" autoplay muted style="width : 360; height : 360"></video>
            <div>hi how are you?</div>
        </div>
        <div id = "video2Div">
            <video id = "video2" src="./test2.mov" autoplay muted style="width : 360; height : 360"></video>
            <div> i'm fine thank you.</div>
        </div>
    </div>
    
    <button id = "srcChangeBtn">srcChange!</button>
    <button id = "tagChangeBtn">tagChange!</button>
    <hr>

    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>INDEX TEST!</h1>
    <div class="videos" id="participants">
        <div class = "video_content 0">
            <h2 id="index"></h1>
        </div>

        <div class = "video_content 1">
            <h2 id="index"></h1>
            
        </div>

        <div class = "video_content 2">
            <h2 id="index"></h1>
        </div>

        <div class = "video_content 3">
            <h2 id="index"></h1>
        </div>

    </div>

    <button id="left">left</button>
    <button id="right">right</button>
    <button id="addPerson">addPerson</button>

    <h3 id="personListLength">0</h3>

    <hr>


    <script>
        var personLength = 0;
        var index = 0;

        var leftBtn = document.getElementById("left");
        var rightBtn = document.getElementById("right");
        var addPersonBtn = document.getElementById("addPerson");
        var personListLength = document.getElementById("personListLength");

        function refresh(){
            console.log("refresh");
            for(let i=0;i<personLength;i++){
                var video_contents = document.getElementsByClassName("video_content");

                video_contents[i].childNodes[1].innerText = personLength - (i+1);
                if(i==3) break;
            }

            personListLength.innerText = String(personLength);
        }

        leftBtn.onclick = ()=>{
            console.log("leftClick");
            if (index <= 0) {
                index = 0;
            } else {
                index = index - 1;
                refresh();
            }
            console.log("index : ",index);
        }

        rightBtn.onclick = ()=>{
            console.log("right click");

            if (index+1 < (personLength / 4) - 0.1) {
                console.log(personLength/4);
                index = index + 1;
                refresh();
            }
            console.log("index : ",index);
        }

        addPersonBtn.onclick = ()=>{
            personLength += 1;
            console.log("person : ",personLength);
            refresh();
        }




        var btn = document.getElementById("but");
        var btn3 = document.getElementById("button2");
        var btn2 = document.getElementById("getbutton");

        var srcChangeBtn = document.getElementById("srcChangeBtn");
        srcChangeBtn.onclick = ()=>{
            let video1 = document.getElementById("video1");
            let video2 = document.getElementById("video2");

            let tmpsrc = video1.src;
            video1.src = video2.src;
            video2.src = tmpsrc;
        }

        function changeOrder(tmpList){
            let temp = tmpList[0];
            tmpList[0] = tmpList[1];
            tmpList[1] = temp;
        }

        var tagChangeBtn = document.getElementById("tagChangeBtn");
        tagChangeBtn.onclick = ()=>{

            console.log("tage change!");

            var childList = [];

            var Video1Div = document.getElementById("video1Div");
            var Video2Div = document.getElementById("video2Div");

            childList.push(Video1Div,Video2Div);

            let parentNode = document.getElementById("videoBox");

            let children = parentNode.childNodes;
            changeOrder(childList);

            for(var i=0;i<children.length;i++){
                parentNode.removeChild(children[i]);
            }

            for(var i=0;i<childList.length;i++){
                parentNode.appendChild(childList[i]);
            }
        }



        var roomName = "안녕하세요";
        var totalScore = "100";
        var userInfo = {
            email : "boong-u@naver.com",
            name : "boong-u",
        }
        var userName = "boong-u";
        btn.onclick = () =>{
            $.ajax({
                type: 'POST',
                url : "/testPost",
                contentType : "application/json; charset=utf-8",
                data : JSON.stringify({
                    lecture : roomName,
                    professor : "professor",
                }),
                dataType : "json",
                success : function (data){
                    console.log("success");
                    console.log(data);
                },
                error : function(e){
                    console.log(e);
                }
            })
        }

        btn3.onclick = () =>{
            $.ajax({
                type: 'POST',
                url : "/testPost",
                contentType : "application/json; charset=utf-8",
                data : JSON.stringify({
                    name : "userName",
                    lecture : roomName,
                    score : totalScore,
                }),
                dataType : "json",
                success : function (data){
                    console.log("success");
                    console.log(data);
                },
                error : function(e){
                    console.log(e);
                }
            })
        }

        btn2.onclick = () =>{
            $.ajax({
                type: 'POST',
                url : "/testPost2",
                contentType : "application/json; charset=utf-8",
                data : JSON.stringify({
                    name : [userName,"userName"],
                    lecture : roomName
                }),
                dataType : "json",
                success : function (data){
                    console.log("success");
                    console.log(data);

                },
                error : function(e){
                    console.log(e);
                }
            })
        }

    </script>
</body>
</html>