<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Test</title>
</head>
<body>
    <button id="but">hi</button>
    <button id="button2">username</button>
    <button id="getbutton">bye!</button>
    <br>
    <video id = "video1" src="./test1.mov" autoplay muted style="width : 360; height : 360"></video>
    <video id = "video2" src="./test2.mov" autoplay muted style="width : 360; height : 360"></video>
    <button id = "changeBtn">change!</button>

    <script>
        var btn = document.getElementById("but");
        var btn3 = document.getElementById("button2");
        var btn2 = document.getElementById("getbutton");

        

        var changeBtn = document.getElementById("changeBtn");
        changeBtn.onclick = ()=>{
            let video1 = document.getElementById("video1");
            let video2 = document.getElementById("video2");

            let tmpsrc = video1.src;
            video1.src = video2.src;
            video2.src = tmpsrc;
        }

        var roomName = "안녕하세요";
        var totalScore = "100";
        var userInfo = {
            email : "boong-u@naver.com",
            name : "boong-u",
        }
        var userName = "boong-u";
        btn.onclick = () =>{
            $.ajax({
                type: 'POST',
                url : "/testPost",
                contentType : "application/json; charset=utf-8",
                data : JSON.stringify({
                    lecture : roomName,
                    professor : "professor",
                }),
                dataType : "json",
                success : function (data){
                    console.log("success");
                    console.log(data);
                },
                error : function(e){
                    console.log(e);
                }
            })
        }

        btn3.onclick = () =>{
            $.ajax({
                type: 'POST',
                url : "/testPost",
                contentType : "application/json; charset=utf-8",
                data : JSON.stringify({
                    name : "userName",
                    lecture : roomName,
                    score : totalScore,
                }),
                dataType : "json",
                success : function (data){
                    console.log("success");
                    console.log(data);
                },
                error : function(e){
                    console.log(e);
                }
            })
        }

        btn2.onclick = () =>{
            $.ajax({
                type: 'POST',
                url : "/testPost2",
                contentType : "application/json; charset=utf-8",
                data : JSON.stringify({
                    name : [userName,"userName"],
                    lecture : roomName
                }),
                dataType : "json",
                success : function (data){
                    console.log("success");
                    console.log(data);

                },
                error : function(e){
                    console.log(e);
                }
            })
        }

    </script>
</body>
</html>