.Home{
    background-color: #ffffff;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(7px + 1vmin);
    color: rgb(68, 68, 68);
    text-align: center;
}