.Login {
    background-color: #4079AD;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(7px + 1vmin);
    color: rgb(68, 68, 68);
    text-align: center;
}

.Login-center {
    background-color: #e6e6e6;
    min-height: 60vh;
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(7px + 1vmin);
    color: rgb(68, 68, 68);
    text-align: center;
}

.Login-bottom {
    background-color: #4079AD;
    min-height : 30vh;
}